/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

button:hover,a.btn:hover{
    cursor: pointer;
   }
.bg-img{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:10;

    width: 80%;
    height: 100%;
    background-image: url("../bgii.jpg");
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.formm{
    font-weight: bold;
}